openapi: 3.0.0
servers:
  - url: 'https://demo.phppointofsale.com/index.php/api/v1'
  - url: '{protocol}://{domain}/index.php/api/v1'
    variables:
      domain:
        default: demo.phppointofsale.com
      protocol:
        enum:
          - https
          - http
        default: https
  - url: 'http://localhost/phppos/PHP-Point-Of-Sale/index.php/api/v1'
info:
  description: >-
    PHP Point Of Sale API  You can find out more about PHP POS at
    [https://phppointofsale.com](https://phppointofsale.com)
  version: "1.0"
  title: PHP Point Of Sale API
  termsOfService: 'https://phppointofsale.com/terms_of_service.php'
  contact:
    name: PHP POS Support
    url: https://support.phppointofsale.com
    email: support@phppointofsale.com
tags:
  - name: sales
  - name: registers
  - name: deliveries
  - name: receivings
  - name: customers
  - name: items
  - name: item kits
  - name: categories
  - name: attributes
  - name: tags
  - name: manufacturers
  - name: giftcards
  - name: suppliers
  - name: employees
  - name: locations
  - name: expenses
  - name: price_rules
  - name: appointment_types
  - name: appointments
  
paths:
  /registers:
    post:
      tags:
        - registers
      summary: Add a new register to the store
      operationId: addRegister
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewRegister'
        description: Register object that needs to be added to the POS
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Register'
            application/xml:
              schema:
                $ref: '#/components/schemas/Register'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - registers
      summary: Search/list registers
      operationId: searchRegisters
      parameters:
        - name: search
          in: query
          description: Search registers
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string
        - name: location_id
          in: query
          description: Search specific location
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Offset to list registers
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of registers to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registers'
            application/xml:
              schema:
                $ref: '#/components/schemas/Registers'
        '400':
          description: Invalid parameter(s)
  '/registers/{register_id}':
    post:
      tags:
        - registers
      summary: Update a register
      operationId: updateRegister
      parameters:
        - name: register_id
          in: path
          description: register id/number to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated register
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Invalid register ID supplied
        '404':
          description: Register not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewRegister'
        description: Register that needs to be added to the store
        required: true

    get:
      tags:
        - registers
      summary: Find register by register number or ID
      description: Returns a single register
      operationId: getRegisterByID
      parameters:
        - name: register_id
          in: path
          description: ID of register to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned register
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Register not found
    delete:
      tags:
        - registers
      summary: Deletes a register
      operationId: deleteRegister
      parameters:
        - name: register_id
          in: path
          description: ID of register to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted register
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Register not found
  '/registers/batch':
    post:
      tags: 
       - registers
      summary: Bulk create, update, and delete registers
      operationId: batchRegister
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRegisters'
        description: Register objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkRegistersResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkRegistersResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'

  /attributes:
    post:
      tags:
        - attributes
      summary: Add a new attribute to the store
      operationId: addAttribute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAttribute'
        description: Attribute object that needs to be added to the POS
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attribute'
            application/xml:
              schema:
                $ref: '#/components/schemas/Attribute'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - attributes
      summary: Search/list attributes
      operationId: searchAttributes
      parameters:
        - name: search
          in: query
          description: Search attributes
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string

        - name: offset
          in: query
          description: Offset to list attributes
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of attributes to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attributes'
            application/xml:
              schema:
                $ref: '#/components/schemas/Attributes'
        '400':
          description: Invalid parameter(s)
  '/attributes/{attribute_id}':
    post:
      tags:
        - attributes
      summary: Update a attribute
      operationId: updateAttribute
      parameters:
        - name: attribute_id
          in: path
          description: attribute id/number to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AttributeResponse'
        '400':
          description: Invalid attribute ID supplied
        '404':
          description: Attribute not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAttribute'
        description: Attribute that needs to be added to the store
        required: true

    get:
      tags:
        - attributes
      summary: Find attribute by attribute number or ID
      description: Returns a single attribute
      operationId: getAttributeByID
      parameters:
        - name: attribute_id
          in: path
          description: ID of attribute to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AttributeResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Attribute not found
    delete:
      tags:
        - attributes
      summary: Deletes a attribute
      operationId: deleteAttribute
      parameters:
        - name: attribute_id
          in: path
          description: ID of attribute to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AttributeResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Attribute not found
  '/attributes/batch':
    post:
      tags: 
       - attributes
      summary: Bulk create, update, and delete attributes
      operationId: batchAttribute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAttributes'
        description: Attribute objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkAttributesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkAttributesResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'

  /modifiers:
    post:
      tags:
        - modifiers
      summary: Add a new modifier to the store
      operationId: addModifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewModifier'
        description: Modifier object that needs to be added to the POS
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Modifier'
            application/xml:
              schema:
                $ref: '#/components/schemas/Modifier'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - modifiers
      summary: List modifiers
      operationId: searchModifiers
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Modifiers'
            application/xml:
              schema:
                $ref: '#/components/schemas/Modifiers'
        '400':
          description: Invalid parameter(s)
  '/modifiers/{modifier_id}':
    post:
      tags:
        - modifiers
      summary: Update a modifier
      operationId: updateModifier
      parameters:
        - name: modifier_id
          in: path
          description: modifier id/number to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated modifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifierResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ModifierResponse'
        '400':
          description: Invalid modifier ID supplied
        '404':
          description: Modifier not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewModifier'
        description: Modifier that needs to be added to the store
        required: true

    get:
      tags:
        - modifiers
      summary: Find modifier by modifier number or ID
      description: Returns a single modifier
      operationId: getModifierByID
      parameters:
        - name: modifier_id
          in: path
          description: ID of modifier to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned modifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifierResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ModifierResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Modifier not found
    delete:
      tags:
        - modifiers
      summary: Deletes a modifier
      operationId: deleteModifier
      parameters:
        - name: modifier_id
          in: path
          description: ID of modifier to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted modifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifierResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ModifierResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Modifier not found
  '/modifiers/batch':
    post:
      tags: 
       - modifiers
      summary: Bulk create, update, and delete modifiers
      operationId: batchModifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkModifiers'
        description: Modifier objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkModifiersResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkModifiersResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
  /manufacturers:
    post:
      tags:
        - manufacturers
      summary: Add a new manufacturer to the store
      operationId: addManufacturer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewManufacturer'
        description: Manufacturer object that needs to be added to the POS
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manufacturer'
            application/xml:
              schema:
                $ref: '#/components/schemas/Manufacturer'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - manufacturers
      summary: Search/list manufacturers
      operationId: searchManufacturers
      parameters:
        - name: search
          in: query
          description: Search manufacturers
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string

        - name: offset
          in: query
          description: Offset to list manufacturers
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of manufacturers to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manufacturers'
            application/xml:
              schema:
                $ref: '#/components/schemas/Manufacturers'
        '400':
          description: Invalid parameter(s)
  '/manufacturers/{manufacturer_id}':
    post:
      tags:
        - manufacturers
      summary: Update a manufacturer
      operationId: updateManufacturer
      parameters:
        - name: manufacturer_id
          in: path
          description: manufacturer id/number to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated manufacturer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManufacturerResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ManufacturerResponse'
        '400':
          description: Invalid manufacturer ID supplied
        '404':
          description: Manufacturer not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewManufacturer'
        description: Manufacturer that needs to be added to the store
        required: true

    get:
      tags:
        - manufacturers
      summary: Find manufacturer by manufacturer number or ID
      description: Returns a single manufacturer
      operationId: getManufacturerByID
      parameters:
        - name: manufacturer_id
          in: path
          description: ID of manufacturer to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned manufacturer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManufacturerResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ManufacturerResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Manufacturer not found
    delete:
      tags:
        - manufacturers
      summary: Deletes a manufacturer
      operationId: deleteManufacturer
      parameters:
        - name: manufacturer_id
          in: path
          description: ID of manufacturer to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted manufacturer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManufacturerResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ManufacturerResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Manufacturer not found
  '/manufacturers/batch':
    post:
      tags: 
       - manufacturers
      summary: Bulk create, update, and delete manufacturers
      operationId: batchManufacturer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkManufacturers'
        description: Manufacturer objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkManufacturersResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkManufacturersResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'

  /tags:
    post:
      tags:
        - tags
      summary: Add a new tag to the store
      operationId: addTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTag'
        description: Tag object that needs to be added to the POS
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tag'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - tags
      summary: Search/list tags
      operationId: searchTags
      parameters:
        - name: search
          in: query
          description: Search tags
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string

        - name: offset
          in: query
          description: Offset to list tags
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of tags to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tags'
        '400':
          description: Invalid parameter(s)
  '/tags/{tag_id}':
    post:
      tags:
        - tags
      summary: Update a tag
      operationId: updateTag
      parameters:
        - name: tag_id
          in: path
          description: tag id/number to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TagResponse'
        '400':
          description: Invalid tag ID supplied
        '404':
          description: Tag not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTag'
        description: Tag that needs to be added to the store
        required: true

    get:
      tags:
        - tags
      summary: Find tag by tag number or ID
      description: Returns a single tag
      operationId: getTagByID
      parameters:
        - name: tag_id
          in: path
          description: ID of tag to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TagResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Tag not found
    delete:
      tags:
        - tags
      summary: Deletes a tag
      operationId: deleteTag
      parameters:
        - name: tag_id
          in: path
          description: ID of tag to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TagResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Tag not found
  '/tags/batch':
    post:
      tags: 
       - tags
      summary: Bulk create, update, and delete tags
      operationId: batchTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTags'
        description: Tag objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTagsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkTagsResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'

  /appointment_types:
    post:
      tags:
        - appointment_types
      summary: Add a new appointment_type to the store
      operationId: addAppointmentType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAppointmentType'
        description: AppointmentType object that needs to be added to the POS
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentType'
            application/xml:
              schema:
                $ref: '#/components/schemas/AppointmentType'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - appointment_types
      summary: Search/list appointment_types
      operationId: searchAppointmentTypes
      parameters:
        - name: search
          in: query
          description: Search appointment_types
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string

        - name: offset
          in: query
          description: Offset to list appointment_types
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of appointment_types to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentTypes'
            application/xml:
              schema:
                $ref: '#/components/schemas/AppointmentTypes'
        '400':
          description: Invalid parameter(s)
  '/appointment_types/{appointment_type_id}':
    post:
      tags:
        - appointment_types
      summary: Update a appointment_type
      operationId: updateAppointmentType
      parameters:
        - name: appointment_type_id
          in: path
          description: appointment_type id/number to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated appointment_type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentTypeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AppointmentTypeResponse'
        '400':
          description: Invalid appointment_type ID supplied
        '404':
          description: AppointmentType not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAppointmentType'
        description: AppointmentType that needs to be added to the store
        required: true

    get:
      tags:
        - appointment_types
      summary: Find appointment_type by appointment_type number or ID
      description: Returns a single appointment_type
      operationId: getAppointmentTypeByID
      parameters:
        - name: appointment_type_id
          in: path
          description: ID of appointment_type to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned appointment_type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentTypeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AppointmentTypeResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: AppointmentType not found
    delete:
      tags:
        - appointment_types
      summary: Deletes a appointment_type
      operationId: deleteAppointmentType
      parameters:
        - name: appointment_type_id
          in: path
          description: ID of appointment_type to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted appointment_type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentTypeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AppointmentTypeResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: AppointmentType not found
  '/appointment_types/batch':
    post:
      tags: 
       - appointment_types
      summary: Bulk create, update, and delete appointment_types
      operationId: batchAppointmentType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAppointmentTypes'
        description: AppointmentType objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkAppointmentTypesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkAppointmentTypesResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'

  /categories:
    post:
      tags:
        - categories
      summary: Add a new category to the store
      operationId: addCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCategoryWithImageUrl'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewCategoryWithImage'
        description: Item object that needs to be added to the store
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
            application/xml:
              schema:
                $ref: '#/components/schemas/Category'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - categories
      summary: Search/list categories
      operationId: searchCategories
      parameters:
        - name: search
          in: query
          description: Search categories
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string

        - name: offset
          in: query
          description: Offset to list categories
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of categories to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categories'
            application/xml:
              schema:
                $ref: '#/components/schemas/Categories'
        '400':
          description: Invalid parameter(s)
  '/categories/{category_id}':
    post:
      tags:
        - categories
      summary: Update a category
      operationId: updateCategory
      parameters:
        - name: category_id
          in: path
          description: category_id to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
        '400':
          description: Invalid category ID supplied
        '404':
          description: Category not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCategoryWithImageUrl'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewCategoryWithImage'
        description: Category that needs to be added to the store
        required: true

    get:
      tags:
        - categories
      summary: Find category by ID
      description: Returns a single category
      operationId: getCategoryByID
      parameters:
        - name: category_id
          in: path
          description: ID of category to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Category not found
    delete:
      tags:
        - categories
      summary: Deletes a category
      operationId: deleteCategory
      parameters:
        - name: category_id
          in: path
          description: ID of category to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Category not found
  '/categories/batch':
    post:
      tags: 
       - categories
      summary: Bulk create, update, and delete categories
      operationId: batchCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCategories'
        description: Category objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCategoriesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkCategoriesResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'

  /price_rules:
    post:
      tags:
        - price_rules
      summary: Add a new price rule to the POS
      operationId: addPriceRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPriceRule'
        description: Price rule object; not all fields are required depending on the type of price rule
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceRule'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceRule'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - price_rules
      summary: Search/list price rules
      operationId: searchPriceRules
      parameters:
        - name: search
          in: query
          description: Search price rules
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string

        - name: offset
          in: query
          description: Offset to list price rules
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of price rules to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceRules'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceRules'
        '400':
          description: Invalid parameter(s)
  '/price_rules/{price_rule_id}':
    post:
      tags:
        - price_rules
      summary: Update a price rule
      operationId: updatePriceRule
      parameters:
        - name: price_rule_id
          in: path
          description: price rule id to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated price rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceRuleResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceRuleResponse'
        '400':
          description: Invalid price rule ID supplied
        '404':
          description: price rule not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPriceRule'
        description: Price rule that needs to be added to the POS
        required: true

    get:
      tags:
        - price_rules
      summary: Find price rule by price rule ID
      description: Returns a single price rule
      operationId: getPriceRuleByID
      parameters:
        - name: price_rule_id
          in: path
          description: ID of price_rule to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned price rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceRuleResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceRuleResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Price rule not found
    delete:
      tags:
        - price_rules
      summary: Deletes a price _rule
      operationId: deletePriceRule
      parameters:
        - name: price_rule_id
          in: path
          description: ID of price rule to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted price rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceRuleResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceRuleResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Price rule not found
  '/price_rules/batch':
    post:
      tags: 
       - price_rules
      summary: Bulk create, update, and delete price rules
      operationId: batchPriceRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkPriceRules'
        description: Price rule objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkPriceRulesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkPriceRulesResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'

  /appointments:
    post:
      tags:
        - appointments
      summary: Add a new appointment to the POS
      operationId: addAppointment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAppointment'
        description: appointments object; not all fields are required
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Appointment'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - appointments
      summary: Search/list appointments
      operationId: searchAppointments
      parameters:
        - name: search
          in: query
          description: Search appointments
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string

        - name: offset
          in: query
          description: Offset to list appointments
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of appointments to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointments'
            application/xml:
              schema:
                $ref: '#/components/schemas/Appointments'
        '400':
          description: Invalid parameter(s)
  '/appointments/{appointment_id}':
    post:
      tags:
        - appointments
      summary: Update am appointment
      operationId: updateAppointment
      parameters:
        - name: appointment_id
          in: path
          description: appointment id to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated appointments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
        '400':
          description: Invalid appointment ID supplied
        '404':
          description: appointment not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAppointment'
        description: appointments that needs to be added to the POS
        required: true

    get:
      tags:
        - appointments
      summary: Find appointment by appointment ID
      description: Returns a single appointment
      operationId: getAppointmentByID
      parameters:
        - name: appointment_id
          in: path
          description: ID of appointment to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned appointment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: appointment not found
    delete:
      tags:
        - appointments
      summary: Deletes an appointment
      operationId: deleteAppointment
      parameters:
        - name: appointment_id
          in: path
          description: ID of appointment to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted appointment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: appointment not found
  '/appointments/batch':
    post:
      tags: 
       - appointments
      summary: Bulk create, update, and delete appointments
      operationId: batchAppointment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAppointments'
        description: appointments objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkAppointmentsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkAppointmentsResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'

  /expenses:
    post:
      tags:
        - expenses
      summary: Add a new expense to the store
      operationId: addExpense
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExpense'
        description: Expense object that needs to be added to the POS
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
            application/xml:
              schema:
                $ref: '#/components/schemas/Expense'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - expenses
      summary: Search/list expenses
      operationId: searchExpenses
      parameters:
        - name: search
          in: query
          description: Search expenses
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string
						
        - name: location_id
          in: query
          description: Search specific location
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Offset to list expenses
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of expenses to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expenses'
            application/xml:
              schema:
                $ref: '#/components/schemas/Expenses'
        '400':
          description: Invalid parameter(s)
  '/expenses/{expense_id}':
    post:
      tags:
        - expenses
      summary: Update a expense
      operationId: updateExpense
      parameters:
        - name: expense_id
          in: path
          description: expense id/number to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated expense
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
        '400':
          description: Invalid expense ID supplied
        '404':
          description: Expense not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExpense'
        description: Expense that needs to be added to the store
        required: true

    get:
      tags:
        - expenses
      summary: Find expense by expense number or ID
      description: Returns a single expense
      operationId: getExpenseByID
      parameters:
        - name: expense_id
          in: path
          description: ID of expense to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned expense
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Expense not found
    delete:
      tags:
        - expenses
      summary: Deletes a expense
      operationId: deleteExpense
      parameters:
        - name: expense_id
          in: path
          description: ID of expense to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted expense
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Expense not found
  '/expenses/batch':
    post:
      tags: 
       - expenses
      summary: Bulk create, update, and delete expenses
      operationId: batchExpense
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkExpenses'
        description: Expense objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkExpensesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkExpensesResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'

  /expenses_categories:
    post:
      tags:
        - expenses
      summary: Add a new category to the store
      operationId: addExpenseCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExpenseCategoryWithImageUrl'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewExpenseCategoryWithImage'
        description: Item object that needs to be added to the store
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategory'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseCategory'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - expenses
      summary: Search/list categories
      operationId: searchExpenseCategories
      parameters:
        - name: search
          in: query
          description: Search categories
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string

        - name: offset
          in: query
          description: Offset to list categories
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of categories to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategories'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseCategories'
        '400':
          description: Invalid parameter(s)
  '/expenses_categories/{category_id}':
    post:
      tags:
        - expenses
      summary: Update a category
      operationId: updateExpenseCategory
      parameters:
        - name: category_id
          in: path
          description: category_id to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryResponse'
        '400':
          description: Invalid category ID supplied
        '404':
          description: Category not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExpenseCategoryWithImageUrl'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewExpenseCategoryWithImage'
        description: Category that needs to be added to the store
        required: true

    get:
      tags:
        - expenses
      summary: Find category by ID
      description: Returns a single category
      operationId: getExpenseCategoryByID
      parameters:
        - name: category_id
          in: path
          description: ID of category to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Category not found
    delete:
      tags:
        - expenses
      summary: Deletes a category
      operationId: deleteExpenseCategory
      parameters:
        - name: category_id
          in: path
          description: ID of category to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Category not found
  '/expenses_categories/batch':
    post:
      tags: 
       - expenses
      summary: Bulk create, update, and delete categories
      operationId: batchExpenseCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkExpenseCategories'
        description: Category objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkExpenseCategoriesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkExpenseCategoriesResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
  
  /deliveries:
    get:
      tags:
        - deliveries
      summary: Search/list deliveries
      operationId: searchDeliveries
      parameters:
        - name: search
          in: query
          description: Search deliveries
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string
						
        - name: location_id
          in: query
          description: Search specific location
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Offset to list deliveries
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of deliveries to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deliveries'
            application/xml:
              schema:
                $ref: '#/components/schemas/Deliveries'
        '400':
          description: Invalid parameter(s)
  '/deliveries/{delivery_id}':
    post:
      tags:
        - deliveries
      summary: Update a delivery
      operationId: updateDelivery
      parameters:
        - name: delivery_id
          in: path
          description: delivery id/number to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DeliveryResponse'
        '400':
          description: Invalid delivery id supplied
        '404':
          description: Delivery not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewDelivery'
        description: Delivery that needs to be added to the store
        required: true

    get:
      tags:
        - deliveries
      summary: Find delivery by delivery number or ID
      description: Returns a single delivery
      operationId: getDeliveryByID
      parameters:
        - name: delivery_id
          in: path
          description: ID of delivery to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DeliveryResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Delivery not found
    delete:
      tags:
        - deliveries
      summary: Deletes a delivery
      operationId: deleteDelivery
      parameters:
        - name: delivery_id
          in: path
          description: ID of delivery to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DeliveryResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Delivery not found
  /receivings:
    get:
      tags:
        - receivings
      summary: Search/list receivings
      operationId: searchReceivings
      parameters:
        - name: start_date
          in: query
          description: Start date to search for receivings
          required: true
          schema:
            type: string
            format: date-time
            example: "2017-07-21T17:32:28Z"
        - name: end_date
          in: query
          description: End date to search for receivings
          required: true
          schema:
            type: string
            format: date-time
            example: "2017-07-21T17:32:28Z"
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receivings'
            application/xml:
              schema:
                $ref: '#/components/schemas/Receivings'
        '400':
          description: Invalid parameter(s)
    post:
      tags:
        - receivings
      summary: Add a receiving to the POS
      operationId: addReceiving
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewReceiving'
        description: Receiving object that needs to be added to the store
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receiving'
            application/xml:
              schema:
                $ref: '#/components/schemas/Receiving'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/receivings/{receiving_id}':
    get:
      tags:
        - receivings
      summary: Get info about receiving
      operationId: getReceiving
      parameters:
        - name: receiving_id
          in: path
          description: ID of receiving to get
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receiving'
            application/xml:
              schema:
                $ref: '#/components/schemas/Receiving'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - receivings
      summary: Update a receiving in the POS
      operationId: updateReceiving
      parameters:
        - name: receiving_id
          in: path
          description: ID of receiving to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewReceiving'
        description: Receiving object that needs to be added to the store
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receiving'
            application/xml:
              schema:
                $ref: '#/components/schemas/Receiving'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
       - receivings
      summary: Delete a receiving from POS
      operationId: deleteReceiving
      parameters:
        - name: receiving_id
          in: path
          description: ID of receiving to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted receiving
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receiving'
            application/xml:
              schema:
                $ref: '#/components/schemas/Receiving'
        '400':
          description: Invalid ID supplied
        '404':
          description: Receiving ID not found
      

  /sales:
    get:
      tags:
        - sales
      summary: Search/list sales
      operationId: searchSales
      parameters:
        - name: start_date
          in: query
          description: Start date to search for sales
          required: true
          schema:
            type: string
            format: date-time
            example: "2017-07-21T17:32:28Z"
        - name: end_date
          in: query
          description: End date to search for sales
          required: true
          schema:
            type: string
            format: date-time
            example: "2017-07-21T17:32:28Z"
        - name: customer_id
          in: query
          description: ID of customer to filter by
          required: false
          schema:
            type: number
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sales'
            application/xml:
              schema:
                $ref: '#/components/schemas/Sales'
        '400':
          description: Invalid parameter(s)
    post:
      tags:
        - sales
      summary: Add a sale to the POS
      operationId: addSale
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSale'
        description: Sale object that needs to be added to the store
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sale'
            application/xml:
              schema:
                $ref: '#/components/schemas/Sale'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/sales/{sale_id}':
    get:
      tags:
        - sales
      summary: Get info about sale
      operationId: getSale
      parameters:
        - name: sale_id
          in: path
          description: ID of sale to get
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sale'
            application/xml:
              schema:
                $ref: '#/components/schemas/Sale'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags:
        - sales
      summary: Update a sale in the POS
      operationId: updateSale
      parameters:
        - name: sale_id
          in: path
          description: ID of sale to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSale'
        description: Sale object that needs to be added to the store
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sale'
            application/xml:
              schema:
                $ref: '#/components/schemas/Sale'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
       - sales
      summary: Delete a sale from POS
      operationId: deleteSale
      parameters:
        - name: sale_id
          in: path
          description: ID of sale to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted sale
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sale'
            application/xml:
              schema:
                $ref: '#/components/schemas/Sale'
        '400':
          description: Invalid ID supplied
        '404':
          description: Sale ID not found
      
  /giftcards:
    post:
      tags:
        - giftcards
      summary: Add a new giftcard to the store
      operationId: addGifcard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGiftcard'
        description: Gift Card object that needs to be added to the store
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Giftcard'
            application/xml:
              schema:
                $ref: '#/components/schemas/Giftcard'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      
    get:
      tags:
        - giftcards
      summary: Search/list gift cards
      operationId: searchGiftcards
      parameters:
        - name: search
          in: query
          description: Search gift cards
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string

        - name: offset
          in: query
          description: Offset to list gift cards
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of gift cards to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Giftcards'
            application/xml:
              schema:
                $ref: '#/components/schemas/Giftcards'
        '400':
          description: Invalid parameter(s)
  '/giftcards/{giftcard_number}':
    post:
      tags:
        - giftcards
      summary: Update a gift card
      operationId: updateGiftcard
      parameters:
        - name: giftcard_number
          in: path
          description: giftcard id/number to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully updated gift card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftcardResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GiftcardResponse'
        '400':
          description: Invalid item ID supplied
        '404':
          description: Gift Card not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGiftcard'
        description: Gift card that needs to be added to the store
        required: true

    get:
      tags:
        - giftcards
      summary: Find gift card by giftcard number or ID
      description: Returns a single gift card
      operationId: getGiftcardByID
      parameters:
        - name: giftcard_number
          in: path
          description: ID of giftcard to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful returned gift card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftcardResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GiftcardResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Giftcard not found
    delete:
      tags:
        - giftcards
      summary: Deletes a gift card
      operationId: deleteGiftcard
      parameters:
        - name: giftcard_number
          in: path
          description: ID of giftcard to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful deleted gift card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftcardResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GiftcardResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Giftcard not found
  '/giftcards/batch':
    post:
      tags: 
       - giftcards
      summary: Bulk create, update, and delete gift cards
      operationId: batchGiftcard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkGiftcards'
        description: Giftcard objects that needs to be batched
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkGiftcardsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkGiftcardsResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'

  /locations:
    get:
      tags:
        - locations
      summary: Search/list locations
      operationId: searchLocations
      parameters:
        - name: search
          in: query
          description: Search locations
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string

        - name: search_field
          in: query
          description: Search specific field
          required: false
          schema:
            type: string
            enum:
              - location_id
              - name
              - address
        - name: offset
          in: query
          description: Offset to list locations
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of locations to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locations'
            application/xml:
              schema:
                $ref: '#/components/schemas/Locations'
        '400':
          description: Invalid parameter(s)
  '/locations/{location_id}':
    get:
      tags:
        - locations
      summary: Find location by Location ID
      description: Returns a single location
      operationId: getLocationByLocationId
      parameters:
        - name: location_id
          in: path
          description: ID of location to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful updated location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/LocationResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Location not found
  /item_kits:
    get:
      tags:
        - item kits
      summary: Search/list item kits
      operationId: searchItemKits
      parameters:
        - name: search
          in: query
          description: Search item kits
          required: false
          schema:
            type: string

        - name: sort_col
          in: query
          description: Sort Column
          required: false
          schema:
            type: string

        - name: sort_dir
          in: query
          description: Sort Direction
          required: false
          schema:
            type: string
        - name: category_id
          in: query
          description: Filter by category id
          required: false
          schema:
            type: string
        - name: search_field
          in: query
          description: Search specific field
          required: false
          schema:
            type: string
            enum:
              - item_kit_id
              - item_kit_number
              - product_id
              - name
              - description
              - cost_price
              - unit_price
              - manufacturer_name
              - tag_name
              - custom_field_1_value
              - custom_field_2_value
              - custom_field_3_value
              - custom_field_4_value
              - custom_field_5_value
              - custom_field_6_value
              - custom_field_7_value
              - custom_field_8_value
              - custom_field_9_value
              - custom_field_10_value
        - name: offset
          in: query
          description: Offset to list item kits
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Number of item kits to get
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: successful operation
          headers:
            x-total-records:
              description: Total number of results in search
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemKits'
            application/xml:
              schema:
                $ref: '#/components/schemas/ItemKits'
        '400':
          description: Invalid parameter(s)
    post:
      tags:
        - item kits
      summary: Add a new item kit to the store
      operationId: addItemKit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewItemKitWithImageUrl'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewItemKitWithImage'
        description: Item Kit object that needs to be added to the store
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemKit'
            application/xml:
              schema:
                $ref: '#/components/schemas/ItemKit'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/item_kits/{item_kit_id}':
    get:
      tags:
        - item kits
      summary: Find item kit by Item KIT ID
      description: Returns a single item kit
      operationId: getItemKitByItemKitId
      parameters:
        - name: item_kit_id
          in: path
          description: ID of item kit to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful updated item kit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemKitResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ItemKitResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Item KIT not found
    post:
      tags:
        - item kits
      summary: Update an existing item kit
      operationId: updateItemKit
      parameters:
        - name: item_kit_id
          in: path
          description: Item kit id to update
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Sucessfully updated item kit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemKitResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ItemKitResponse'
        '400':
          description: Invalid item kit ID supplied
        '404':
          description: Item kit not found
        '405':
          description: Validation exception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewItemKitWithImageUrl'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewItemKitWithImage'
        description: Item Kit object that needs to be added to the store
        required: true
    delete:
      tags:
        - item kits
      summary: Deletes a item Kit
      operationId: deleteItemKit
      parameters:
        - name: item_kit_id
          in: path
          description: Item kit id to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful deleted item kit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemKitResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ItemKitResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Item Kit not found
  '/item_kits/batch':
    post:
      tags: 
       - item kits
      summary: Bulk create, update, and delete items
      operationId: batchItemKit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkItemKits'
        description: Item kit object that needs to be added to the store
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkItemKitsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkItemKitsResponse'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/BasicErrorModel'
  /items:
    get:
      tags:
        - items
      summary: Search/list items
      operationId: searchItems
      parameters:
        - name: search
          in: query
[...]
